body {
	text-align: center;
	background: linear-gradient(#5680A0, #0C527B);
	background-size: 100% 40%;
	background-repeat: no-repeat;

}

.font {
	font-family: 'Noto Sans', sans-serif;
}

.textShadow {
	text-shadow: 1px 1px #000000;
}

.main {
	width: 100%;
	margin-top: 100px;
}

.img1 {
	float: right;
	padding-right: 30px;
}

.leftSideContent {
	float: left;
	width: 42%;
}

.rightSideContent {
	float: left;
	width: 38%;
	min-width: 470px;
	text-align: left;
}
.brandAndButton {
	display: block;
	width: 100%;
}

button {
	float: right;
	margin-top: 24px;
	background-color: #5680A0;
	border-radius: 2px;
	font-weight: 700;
}

.buttonText {
	color: #ddd;
	font-size: 12px;
	text-shadow: 3px;
	padding:0 3px 5px 0;
	position: relative;
	bottom: 5px;
}

button:hover {
	background-color: #0B517A; 
}

.homeLogo {
	padding-right: 10px;
}

.inlineB {
	display: inline-block;
}

.contentWrapper {
	clear: left;
	background-color: white;
	box-shadow: 1px 1px 2px 1px #bbb;
	border-radius: 7px;
	padding: 10px 22px 0px 22px;
	margin-top: 30px;
}

.contentHeading {
	color: rgb(12, 82, 123);
}

.appLinks {
	padding: 20px 0 0 0;
}

.apps:hover {
	opacity: 0.5;
}


.googlePlay {
	padding-left: 10px;
}

footer {
	clear: both;
	padding-top: 40px;
}

.nav a{
	text-transform: uppercase;
	text-decoration: none;
	color: #0c527b;
	font-weight: 700;
	font-size: 12px;
	padding: 0px 7px 0 7px;
}

.nav a:hover {
	color: #5680A0;
}

.copyright {
	display: inline-block;
	font-size: 12px;
	color: rgba(191, 191, 191, .7);
}
